<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>
<title>Privacy Policy</title>
<style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em;
} </style>
</head>
<body>
<span>
<br/>
<h2 style="color:#132658; font-family: Poppins">गोपनीयता नीति</h2>
<br/><br/><p style="color:#B2B2B2;font-family: Poppins">इस जानकारी का संग्रह प्रासंगिक है और इसका उद्देश्य राजस्थान राज्य के भीतर बीमारी के प्रसार को ट्रैक करना है, न कि व्यक्तिगत जानकारी के लिए।
 यदि आप एक कोविद 19 संदिग्ध हैं, तो यह ऐप आपको और मार्गदर्शन करेगा।
आपके द्वारा बताए गए लक्षणों को देखकर, यह ऐप आपके बढ़ते जोखिम को ध्यान में रखेगा और आपको सूचित करेगा कि आपको उपचार की आवश्यकता है।
 सदन ऐप कोविद 19 से लड़ने और जिम्मेदार आत्म निदान द्वारा इसके प्रसार को रोकने के लिए हम सभी द्वारा एक साथ बनाया गया है।
</p></span> </body>
</html>