<!DOCTYPE html>
    <html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Privacy Policy</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
    <h2 style="color:#132658; font-family: Poppins">Privacy Policy</h2> 
    <p style="color:#B2B2B2;font-family: Poppins">
      The data gathered here is only for reference and 
      overall tracking purposes of the spread of the 
      disease across Maharashtra regions, and not for 
      personal identification purposes. 
      Should you be at risk of being a high risk covid 
      patient, the app will direct you with the next 
      steps to contact support. Through the logging 
      of symptoms the app will be able to escalate your 
      risk level once it does reach the threshold for doctors 
      attention needed, and inform you about the same. 
      This app is for us together to combat <strong>Covid 19 </strong>through 
      responsible self diagnosis in curfew so we can help Stop 
      the spread of the disease.
                  </p>   </body>
    </html>
      